__pycache__/
*.pyc
.venv/
venv/
data/*.db
data/*.pdf
data/*.csv
models/
*.gguf
.DS_Store

# script de validação temporário
scripts/e2e_llm.py

models/*.task
models/face_landmarker.task

data/nr01/
data/*.pdf
